{
  "extends" : ["@visionappscz/eslint-config-visionapps"],
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["**/index.js", "src/service/*.js"],
      "rules": {
        "import/prefer-default-export": "off"
      }
    }
  ],
  "rules": {
    "func-names": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    // Bedrich Schindler <bedrich@visionapps.cz>, 14. 01. 2019 16:10
    // Rule turned off because more than 500 occurances
    "react/destructuring-assignment": "off",
    "react/no-access-state-in-setstate": "off"
  }
}
