{
  "extends" : ["@visionappscz/eslint-config-visionapps"],
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": [
        "**/constants.js",
        "**/helpers.js",
        "**/index.js",
        "src/**/helpers/**/*",
        "src/constants/*",
        "src/resources/**/*",
        "src/services/**/*"
      ],
      "rules": {
        "import/prefer-default-export": "off"
      }
    }
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "func-names": "off",
    "promise/always-return": "off",
    "promise/catch-or-return": "off",
    "promise/no-nesting": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-access-state-in-setstate": "off"
  }
}
