$_breakpoint: 70em;

$_layout-spacer-x: 2rem;
$_layout-spacer-y: 2rem;
$_layout-padding-x: 4vw;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: ($_layout-spacer-y / 2) $_layout-padding-x;
  background-color: #fff;

  @media screen and (min-width: $_breakpoint) {
    flex-direction: row;
  }
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $_breakpoint) {
    flex-direction: row;
    padding-right: $_layout-spacer-x / 2;
  }
}

.logo {
  display: block;
  width: 10rem;
  height: auto;
  margin-bottom: $_layout-spacer-x / 2;

  @media screen and (min-width: $_breakpoint) {
    margin-bottom: 0;
  }
}

.title {
  display: block;
  font-weight: 500;
  line-height: 2rem;

  @media screen and (min-width: $_breakpoint) {
    padding-left: $_layout-spacer-x;
    margin-left: $_layout-spacer-x;
    border-left: 1px solid #ccc;
  }
}

.navigation {
  display: flex;
  max-width: 100%;
  padding: ($_layout-spacer-y / 2) 0;
  overflow-x: auto;

  @media screen and (min-width: $_breakpoint) {
    padding-right: $_layout-spacer-x / 2;
    margin-bottom: 0;
  }
}

.navigationItem {
  margin-left: 1rem;
}

.main {
  padding: $_layout-spacer-y $_layout-padding-x $_layout-spacer-y $_layout-padding-x;
  background-color: #f6f5f4;
}

.body {
  padding: $_layout-spacer-y $_layout-spacer-x;
  background-color: #fff;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.05);
}

.bodyTitle {
  margin-top: $_layout-spacer-y / 4;
  margin-bottom: $_layout-spacer-y;
  overflow-x: auto;
  font-weight: 500;
  font-size: 1.75rem;
}

.footer {
  margin-bottom: $_layout-spacer-y;
  font-weight: lighter;
  font-size: 0.75rem;
  text-align: center;
  color: #717171;
}
