$_breakpoint: 55em;

$_table-cell-padding-x: 0.5rem;
$_table-cell-padding-y: 0.25rem;

.navigation,
.tableWrapper {
  margin-right: -$_table-cell-padding-x;
  margin-left: -$_table-cell-padding-x;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  text-align: center;

  @media screen and (min-width: $_breakpoint) {
    flex-direction: row;
  }
}

.navigationWrap {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media screen and (min-width: $_breakpoint) {
    margin: 0;
  }
}

.navigationPrevious {
  @media screen and (min-width: $_breakpoint) {
    padding-right: 1rem;
  }
}

.navigationTitle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.navigationSubtitle {
  color: #666;
}

.navigationNext {
  @media screen and (min-width: $_breakpoint) {
    padding-left: 1rem;
  }
}

.tableWrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
  position: relative;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.tableRow {
  background-color: #fff;

  &:hover {
    background-color: lighten(#f6f5f4, 2%);
  }
}

.tableRowWeekend {
  color: #666;
  background-color: #f6f5f4;

  &:hover {
    background-color: darken(#f6f5f4, 3%);
  }
}

.tableCell {
  padding: $_table-cell-padding-y $_table-cell-padding-x;
  border-bottom: 1px solid #ccc;
}

.tableCellRight {
  composes: tableCell;
  text-align: right;
}

.date {
  font-weight: 500;
}

.dayInWeek {
  font-size: 0.75em;
  color: #666;
}

.workLogButtonWrapper {
  float: left;
  padding-right: 0.5rem;
}

.addWorkLogButtonWrapper {
  float: right;
}

.sendForApprovalButtonWrapper {
  margin-top: 1rem;
  margin-right: -$_table-cell-padding-x;
  margin-left: -$_table-cell-padding-x;
}
