.formErrorText {
  text-align: center;
  color: #a32100;
}

.fieldDate {
  display: inline-block;
}

.fieldDate input {
  text-align: center;
}

.formInfoText {
  font-size: 0.75rem;
  text-align: justify;
  color: #666;
}

.colon {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.centeredLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
