$_breakpoint: 55em;

.actions {
  margin-bottom: 2rem;

  @media screen and (min-width: $_breakpoint) {
    float: right;
    margin-top: -4.45rem;
    margin-bottom: 0;
    margin-left: 2rem;
  }
}

.profileTableWrap {
  overflow-x: auto;
}

.profileTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.profileTableTitle {
  width: 50%;
  padding: 5px 10px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.vacationDaysTitle {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  padding: 0 10px;
  margin: 3rem auto 1.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.workHoursTitle {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  padding: 0 10px;
  margin: 3rem auto 1.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.profileTableValue {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.vacationTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.vacationTable th {
  padding: 5px 10px;
}

.vacationTableFirstCell {
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.vacationTableCell {
  width: 25%;
  padding: 5px 10px;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.workHoursTable {
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.responsiveTable {
  overflow-x: scroll;
}

.apiTokenButtonsWrapper {
  margin-top: 0.5rem;

  @media screen and (min-width: $_breakpoint) {
    margin-top: 0;
  }
}

.apiTokenButton {
  display: inline-block;

  @media screen and (min-width: $_breakpoint) {
    &:not(:first-of-type) {
      margin-left: 0.5rem;
    }
  }
}

.detailPageWrapper {
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.detailSubheader {
  margin: 3rem auto 1.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.vacationsRow {
  display: flex;
}

.vacationsRow > p {
  flex: 5%;
  font-weight: bold;
  transform: translateY(50%);
}

.vacationsRow > div {
  flex: 23.75%;
  margin-left: 1rem;
}

@media screen and (max-width: 879px) {
  .vacationsRow {
    display: block;
  }

  .vacationsRow > p {
    transform: translateY(0%);
  }

  .vacationsRow > div {
    margin-left: 0;
  }
}
