<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="preload" href="/fonts/FiraSans-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/FiraSans-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/FiraSans-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/FiraSans-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/loader.css" />
  </head>
  <body>

  <div id="app" class="app">
    <div class="loader-container">
      <svg viewBox="0 0 100 100" class="loader loader--rotate">
        <circle cx="50" cy="50" r="40" class="loader__circle"></circle>
      </svg>
    </div>
  </div>

  <div id="app-modal-portal">
  </div>

  </body>
</html>
