$_layout-spacer-y: 2rem;

.footer {
  padding-bottom: $_layout-spacer-y;
  font-weight: lighter;
  font-size: 0.75rem;
  text-align: center;
  color: #717171;

  @media print {
    display: none;
  }
}
